@import 'bootstrap/scss/bootstrap-grid.scss'
@import '/src/styles/_variables.sass'

.CreateRental
    &_form
        background-color: $white
        padding: 30px 26px
        @include media-breakpoint-up(sm)
            padding: 40px 40px
        @include media-breakpoint-up(lg)
            padding: 50px 60px
        border-radius: 10px
        margin-bottom: 40px