p
	margin-bottom: 6px
	font-weight: 200

h1
	font-size: 3rem
	margin-bottom: 10px

h2
	margin-bottom: 1rem

h3, h4
	margin-bottom: 0.8rem
	color: $primary

.lead
	font-size: 1.2rem
	font-weight: 600


h1, h2, h3, h4, h5, h6
	line-height: 1.2
	&.wavy
		text-decoration: 2.5px underline wavy $pink

p
	font-weight: 500

strong
	font-weight: 900