@import 'bootstrap/scss/bootstrap-grid.scss'
@import '/src/styles/_variables.sass'

.stats_block
	height: 100%
	display: flex
	border-radius: 4px
	margin-bottom: 24px
	height: calc(100% - 24px)
	background-color: $white
	padding: 20px 30px
	@include media-breakpoint-up(lg)
		padding: 40px 40px
	flex-direction: column
	align-items: stretch

	&_label
		&_title
			color: $primary-light-2
			span
				color: $primary
			padding: 14px 0
			@include media-breakpoint-up(md)
				padding: 20px 0
			@include media-breakpoint-up(lg)
				padding: 0
	
	&_chart
		&_countries,
		&_cities
			min-height: 300px
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-between
			position: relative