@import 'bootstrap/scss/bootstrap-grid.scss'

.sidebar
	grid-area: sidebar
	width: 0
	background-color: var(--primary-dark)
	position: sticky
	color: var(--white)
	overflow: hidden
	display: flex
	flex-direction: column
	top: 60px
	transition: 0.1s all ease-in-out
	width: 100vw
	height: 0
	&.toggled
		padding: 2em 0
		transition: 0.1s all ease-in-out
		height: fit-content
		padding: 2em 20px
		z-index: 7000
	@include media-breakpoint-up(sm)
		display: block !important
		width: 0px
		height: 100vh
		bottom: 0
		&.toggled
			transition: 0.1s all ease-in-out
			width: 200px
			padding: 2em 20px
			height: 100vh !important
	&_link
		a
			display: flex
			align-items: center
			padding: 15px 20px
			color: var(--white)
			border-radius: 10px
			margin-bottom: 5px
			transition: all .2s ease-in-out
			svg
				margin-right: 10px  
			&:hover,
			&:focus
				background-color: var(--dark)
				color: var(--white)