.sidebar
    display: block !important
    grid-area: sidebar
    background-color: var(--primary-dark)
    height: 100vh
    position: sticky
    bottom: 0
    color: var(--white)
    overflow: hidden
    display: flex
    flex-direction: column
    top: 60px
    width: 0px
    padding: 2em 0
    transition: 0.1s all ease-in-out
    &.toggled
        transition: 0.1s all ease-in-out
        width: 200px
        padding: 2em 20px
    &_link
        a
            display: flex
            align-items: center
            padding: 15px 20px
            color: var(--white)
            border-radius: 10px
            margin-bottom: 5px
            transition: all .2s ease-in-out
            svg
                margin-right: 10px  
            &:hover,
            &:focus
                background-color: var(--dark)
                color: var(--white)