@import 'bootstrap/scss/bootstrap-grid.scss'
@import '/src/styles/_variables.sass'

.footer
    background-color: $primary-light-2
    color: $primary-dark-1
    -webkit-mask: url("/src/assets/images/footer-border.svg")
    -webkit-mask-repeat: repeat-x
    -webkit-mask-size: cover
    -webkit-mask-position: top center
    padding-top: 60px
    margin-top: 20px
    a
        color: $primary-dark-1
    