@import 'bootstrap/scss/bootstrap-grid.scss'

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	margin: 0
	padding: 0
	// min-height: 100vh
	max-width: 100%
	background-color: var(--another-color)
	color: var(--primary)

a
	font-weight: 500
	color: var(--primary)
	text-decoration: none
	font-weight: 600
	&.wavy
		text-decoration: 2.5px underline wavy #a2a9e2
		&:hover,
		&:focus
			transition: all .2s ease-in-out
			outline: none
			text-decoration: 2.5px underline wavy var(--pink)

h1, h2, h3, h4, h5, h6
	line-height: 1.2
	&.wavy
		text-decoration: 2.5px underline wavy var(--pink)

img
	max-width: 100%

@media (prefers-color-scheme: light)
	:root
		color: #213547
		background-color: #ffffff

	a:hover
		color: #747bff

#app
	margin: 0
	padding: 0
	width: 100%
	position: relative
	// height: 100vh
	// overflow: hidden
	min-height: 100vh
	display: grid
	grid-template-columns: 100%
	grid-template-rows: 100px auto
	grid-template-areas: "navbar navbar" "main main"
	@include media-breakpoint-up(md)
		grid-template-columns: auto auto // sidebar width will change depending on whether it's toggled or not. left side will take up all the remaining space.
		grid-template-rows: auto auto // same here
		grid-template-areas: "navbar navbar" "sidebar main"

nav, section, footer
	padding: 2em 1em

ul, li
	list-style-type: none
	margin: 0
	padding: 0

p
	margin-bottom: 6px

h1
	font-size: 3rem
	margin-bottom: 10px

h3
	margin-bottom: 10px
	color: var

.lead
	font-size: 1.2rem

.tag
	display: inline-block
	bottom: 0
	left: 0
	background-color: #fff
	border-radius: 40px
	padding: 0 11px
	font-weight: 600
	margin: 3px
	font-size: 1rem
	&_deals
		background-color: #bbddff
	&_premium
		background: linear-gradient(120deg, #e9b743, #ffffff, #fff4a9, #cfb579)

.page
	display: flex
	flex-direction: column
	overflow: scroll

.main
	flex: 1