*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	margin: 0
	padding: 0
	// min-height: 100vh
	max-width: 100%

a
	font-weight: 500
	color: var(--primary)
	text-decoration: none
	font-weight: 600
	&.wavy
		text-decoration: 2.5px underline wavy #a2a9e2
		&:hover,
		&:focus
			transition: all .2s ease-in-out
			outline: none
			text-decoration: 2.5px underline wavy var(--pink)

h1, h2, h3, h4, h5, h6
	line-height: 1.2

img
	max-width: 100%

@media (prefers-color-scheme: light)
	:root
		color: #213547
		background-color: #ffffff

	a:hover
		color: #747bff

#app
	margin: 0
	padding: 0
	width: 100%
	min-height: 100vh
	display: grid
	grid-template-columns: 20% auto
	grid-template-rows: 100px auto
	grid-template-areas: "navbar navbar" "sidebar main"

nav, section, footer
	padding: 2em 1em

ul, li
	list-style-type: none
	margin: 0
	padding: 0

p
	margin-bottom: 6px