	
// Override Bootstrap variables before the import
// $body-bg: #000;
@import 'bootstrap/scss/bootstrap-grid.scss';
@import '/src/assets/styles/fonts.sass';

:root {
	--white: #fff;
	--light: #bfc4f1;
	--dark: #02052c;
	--primary: #111da4;
	--primary-dark: #101658;
	--secondary: #a43311;
	--another-color: #d7daf7;
	--pink: #d179c0;

	font-family: 'CircularStd', 'Open sans', Noto, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 20px;

	color: var(--dark);
	background-color: var(--white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}